$btn-border-radius: 6px;

@mixin wf-button {
  background-color: black;
  color: white;
  padding: 0.1rem 0.5rem;
  border-radius: $btn-border-radius;
  border: 1px solid black;
  font-weight: 700;
  transition: 0.4s;
  &:hover:enabled {
    background-color: white;
    color: black;
  }
  &:disabled {
    background-color: #ccc;
    border: 1px solid #ccc;
  }
}
