// Display
$display-options: none, block, flex;

@each $option in $display-options {
  .display-#{$option} {
    display: $option;
  }
}

// Flexbox justify-content
$justify-content: flex-start, flex-end, center, space-between, space-around, space-evenly;

@each $option in $justify-content {
  .flex-jc-#{$option} {
    justify-content: $option;
  }
}
