@import "../../styles/helpers/size";

.header {
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(31, 31, 31, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  justify-content: center;
  .nav {
    width: $container-max-width;
    .logo {
      height: 1.5rem;
      margin: 0.7rem;
    }
  }
}
