<form [formGroup]="personalInformation">
  <mat-form-field appearance="fill">
    <mat-label>First name</mat-label>
    <input type="text" matInput placeholder="Enter your first name" formControlName="firstName" required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Last name</mat-label>
    <input type="text" matInput placeholder="Enter your last name" formControlName="lastName" required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Telephone</mat-label>
    <input type="tel" matInput placeholder="Enter your telephone number" formControlName="telephone" required>
  </mat-form-field>
  <div>
    <button class="wf-button" mat-button matStepperNext>Next</button>
  </div>
</form>
