<mat-stepper orientation="vertical" linear color="warn" #stepper>
  <mat-step
    [editable]="allowEdit"
    [completed]="personalInformationData?.valid">
    <ng-template matStepLabel>Insert personal information</ng-template>
    <app-personal-information (personalInformationStep)="getPersonalInformationData($event)"></app-personal-information>
  </mat-step>
  <mat-step
    [editable]="allowEdit"
    [completed]="addressInformationData?.valid">
    <ng-template matStepLabel>Insert address information</ng-template>
    <app-address (addressInformationStep)="getAddressInformationData($event)"></app-address>
  </mat-step>
  <mat-step
    [editable]="allowEdit"
    [completed]="paymentInformationData?.valid">
    <ng-template matStepLabel>Insert payment information</ng-template>
    <app-payment-information
      (paymentInformationStep)="getPaymentInformationData($event)"
      (editStepDisabled)="disableStepEditing($event)"
      (paymentDataId)="getPaymentDataId($event)"
      (errorMessage)="getErrorDetails($event)"></app-payment-information>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <div
      *ngIf="paymentDataId || errorMessage" class="message"
      [ngClass]="paymentDataId ? 'success' : 'error'">
      <p *ngIf="paymentDataId">
        <strong>Your data was successfully saved.</strong><br>
        PAYMENT DATA ID: {{ paymentDataId }}</p>
      <p *ngIf="errorMessage">
        <strong>Error occurred</strong><br>{{ errorMessage }}</p>
    </div>
  </mat-step>
</mat-stepper>
