@import "../../styles/helpers/buttons";
@import "../../styles/helpers/layout";

.wf-button {
  @include wf-button;
  margin-right: 0.5rem;
}

.mat-form-field {
  margin: 1rem 1rem 1rem 0;
}

.message {
  border-radius: 12px;
  padding: 0.2rem 1.4rem;
  width: fit-content;
  line-height: 1.8;
}

.success {
  color: #447a0b;
  background-color: #deffc7;
}

.error {
  color: #750606;
  background-color: #ffdede;
}
