<form [formGroup]="addressInformation">
  <mat-form-field appearance="fill">
    <mat-label>Street</mat-label>
    <input type="text" matInput placeholder="Enter your street name" formControlName="street" required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>House number</mat-label>
    <input type="text" matInput placeholder="Enter your house number" formControlName="houseNumber" required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>ZIP</mat-label>
    <input type="number" matInput placeholder="Enter your ZIP code" formControlName="zip" required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>City</mat-label>
    <input type="text" matInput placeholder="Enter your city" formControlName="city" required>
  </mat-form-field>
  <div>
    <button class="wf-button" mat-button matStepperPrevious>Back</button>
    <button class="wf-button" mat-button matStepperNext>Next</button>
  </div>
</form>
