<form [formGroup]="paymentInformation">
  <mat-form-field appearance="fill">
    <mat-label>Account owner</mat-label>
    <input type="text" matInput placeholder="Enter first and last names of the bank account owner"
           formControlName="owner" required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>IBAN</mat-label>
    <input type="text" matInput placeholder="DE******" formControlName="iban" required>
  </mat-form-field>
  <div>
    <button class="wf-button" mat-button matStepperPrevious>Back</button>
    <button class="wf-button" mat-button matStepperNext
            (click)="sendPaymentData()"
            [disabled]="paymentInformation.invalid">Send</button>
  </div>
</form>
