@import "../styles/helpers/size";

.container {
  display: flex;
  justify-content: center;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
}

.content {
  width: $container-max-width;
  padding-top: 4rem;
}
