// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
@import './styles/wunder-theme';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$wunder-fleet-primary: mat.define-palette(mat.$indigo-palette);
$wunder-fleet-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$wunder-fleet-warn: mat.define-palette($wunder-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$wunder-fleet-theme: mat.define-light-theme((
  color: (
    primary: $wunder-fleet-primary,
    accent: $wunder-fleet-accent,
    warn: $wunder-fleet-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($wunder-fleet-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
